@import './variable.styl'

.y-left
  float left

.y-right
  float right!important

.ul-nav
  display inline-block

.clearfix
  overflow: hidden
  &:before,:after
    height 0
    clear both
    visibility hidden

.container
  width: $center-width
  margin: 0 auto

body
  font-family: 'Microsoft YaHei'
  background-color: #f9f9f9

.p-center
  text-align: center

.a-text
    color #409EFF
    cursor pointer