// 字体颜色，以及背景颜色
$text-theme = #38d39f!important      // 主题颜色
$theme-backgroud = #0a3455!important// 主题背景颜色
$color-f = #fff!important             // 白色字体
$text-commodity = #444!important      // 商品文本颜色
$text-price = #ff0036!important       // 商品价格颜色    
$text-default = #000!important       // 文本默认颜色
$text-subhead = #999!important        // 小标题颜色
$box-shadow = #ccc!important  


// 图标颜色
$theme-icon = #38d39f!important       // 主题图标颜色

//字体大小
$font-size-small = 12px!important
$font-size-middle = 14px!important
$font-size-large = 16px!important
$font-size-large-x = 18px!important

// 中心宽度
$center-width = 1200px!important

// 字体颜色的改变
font-color(color)
    color color

.change-font-color
    font-color($text-theme)